black==23.10.0
box2d-py==2.3.5
certifi==2023.7.22
charset-normalizer==3.3.1
click==8.1.7
cloudpickle==3.0.0
contourpy==1.1.1
cycler==0.12.1
decorator==4.4.2
Farama-Notifications==0.0.4
fonttools==4.43.1
gymnasium==0.29.1
idna==3.4
imageio==2.31.6
imageio-ffmpeg==0.4.9
importlib-metadata==6.8.0
importlib-resources==6.1.0
kiwisolver==1.4.5
matplotlib==3.7.3
moviepy==1.0.3
mypy-extensions==1.0.0
numpy==1.24.4
packaging==23.2
pathspec==0.11.2
Pillow==10.0.1
platformdirs==3.11.0
proglog==0.1.10
pygame==2.5.2
pyparsing==3.1.1
python-dateutil==2.8.2
requests==2.31.0
six==1.16.0
swig==4.1.1
tomli==2.0.1
tqdm==4.66.1
typing-extensions==4.8.0
urllib3==2.0.7
zipp==3.17.0
